<!DOCTYPE html>
<html>

<head>
    <title>MOTD</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>#grep "success" life.txt today</p>
    </div>

    {{>footer}}
</body>

</html>